.flex{
    display: flex;
    width: 960px;
    max-width: 100%;
    flex-wrap: wrap;
    
}

.flex h3{
    color: white;
    text-align: center;
    text-decoration: underline;
}

.flex p{
    text-align: justify;
    padding: 10px;
}

.flex img{
    max-width: 100%;
}

.coluna{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    flex: 0 1 250px;
    margin: 1em;
}

.botao{
    align-self: flex-start;
    margin-top: auto;
}