.container > div {
    border: 1px solid black;
    background-color: #8a2be2;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template: repeat(3, 150px) / repeat(3, auto);
    /* grid-column-gap: 10px;
    grid-row-gap: 20px; */
    grid-gap: 10px 30px;
}

