body {
    background-color: rgb(217, 195, 169);
    padding: 5px;
}

h1 {
    background-color: azure;
    color: brown;
    text-align: center;

}
h2 {
    background-color: blanchedalmond;
    color: rgba(35, 116, 24, 0.776);
}
h2.impar {
    background-color: rgba(166, 41, 47, 0.829);
}