body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: aquamarine;
    height: 100svh;
    width: 100%;
}

.button {
    background-color: black;
    color: white;
    width: 130px;
    border-radius: 25px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: white;
    color: black;
}